Source: python-concurrent.futures
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>,
           Ondřej Nový <novy@ondrej.org>,
Build-Depends: debhelper (>= 9),
               dh-python,
               openstack-pkg-tools,
               python-all,
               python-setuptools,
               python-sphinx,
               python-unittest2
Standards-Version: 3.9.7
Vcs-Git: https://anonscm.debian.org/git/openstack/python-concurrent.futures.git
Vcs-Browser: https://anonscm.debian.org/cgit/openstack/python-concurrent.futures.git/
Homepage: https://github.com/agronholm/pythonfutures

Package: python-concurrent.futures
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends},
         ${sphinxdoc:Depends}
Provides: python-futures
Description: backport of concurrent.futures package from Python 3.2
 The concurrent.futures module provides a high-level interface for
 asynchronously executing callables.
 .
 This is a backport for concurrent.futures as of PEP-3148 and included in
 Python 3.2
